{include file="public/head"}
    <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
        <div class="layadmin-user-login-main">
            <form>
                <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-username"></label>
                        <input type="text" name="username" id="LAY-user-login-username" lay-verify="required" placeholder="用户名" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
                        <input type="password" name="password" id="LAY-user-login-password" lay-verify="required" placeholder="密码" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <input type="button" class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-register-submit" value="注 册"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        layui.use(['form'], function() {
            var form = layui.form;
            form.on('submit(LAY-user-register-submit)', function (obj) {
                var data = $('form').serialize();
                $.post('/user/login/registerAction', {data: data}, function (res) {
                    layer.open({
                        type: 1,
                        title:false,
                        closeBtn: 0,
                        shadeClose: true,
                        content:'<p style="margin:15px 30px;">'+res.msg+'</p>',
                        end:function(){
                            if(res.state){
                                //注册成功跳转登录
                                location.href = "/user/login";
                            }
                        }
                    });
                });
            });
        });
    </script>
{include file="public/foot"}