{extend name="index@public/base" /}

{block name="style"}
    <style>
        .article{border: 1px solid #CCC;padding: 20px;border-radius: 10px;}
        .article-brief{color: #C9C5C5}
        .article-brief span{margin: 0 5px;}
        .article-content{padding: 20px;font-size: 1.6rem;line-height: 26px;}
        .article-button span{font-weight: bold;}
        .comment-publish{position: relative;height: 200px}
        #comment-content{width: 100%;height: 120px;border-color: #C9C5C5;padding: 10px;}
        #comment-publish{position: absolute;right: 0;bottom: 10px}
        .comment-panel .panel-heading{padding: 5px 15px;}
        .comment-panel .panel-body .media{}
        .comment-panel .panel-body .media .media-object{width: 35px;height: 35px;border-radius: 50%;}
    </style>
{/block}

{block name="main"}
    <ol class="breadcrumb">
        <li><a href="{:url('@index')}">首页</a></li>
        <li class="active">最新文章</li>
    </ol>
    <div class="article">
        <h2>{$data.title}</h2>
        <div class="article-brief">
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>{$data.atime}
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>{$data.nickname}
        </div>
        <div class="article-content">
            {$data.content}
        </div>
        <div class="article-button">
            {notempty name="other.prev"}<p><span>上一篇：</span><a href="{:url('index/index/details',['id' => $other.prev.id])}">{$other.prev.title}</a></p>{/notempty}
            {notempty name="other.next"}<p><span>下一篇：</span><a href="{:url('index/index/details',['id' => $other.next.id])}">{$other.next.title}</a></p>{/notempty}
        </div>
        <hr>
        <div class="comment">
            <div class="comment-publish">
                <h4>文章评论</h4>
                <textarea name="comment-content" id="comment-content" placeholder="我来说两句~~"></textarea>
                <button type="button" id="comment-publish" class="btn btn-default">发表</button>
            </div>
            <div class="panel panel-default comment-panel">
                <div class="panel-heading">共有 {$comment.total} 条评论，查看全部</div>
                <div class="panel-body">
                    {foreach comment.list as $list}
                    <div class="media">
                        <div class="media-left">
                            <img class="media-object" src="__STATIC__/images/icon1.png">
                        </div>
                        <div class="media-body">
                            <p class="media-heading" style="font-size: 1.6rem;font-weight: bold">网友</p>
                            <div style="padding: 5px 0;font-size: 1.5rem">{$list.content}</div>
                            <div style="color: #C9C5C5">{$list.atime}</div>
                        </div>
                    </div>
                    <div style="border:1px dotted #ddd;width: 100%;margin: 20px 0;"></div>
                    {/foreach}
                </div>
            </div>
        </div>
    </div>
{/block}

{block name="script"}
    <script>
        $('#comment-publish').click(function(){
            var content = $('#comment-content').val();
            if(!content) {
                alert('您能给我点什么建议吗？');
                return false;
            }
            var data = {
                article_id:"{$data.id}",
                content:content,
            }
            $.ajax({
                url: "{:url('/index/index/commentPublish')}",
                type: "POST",
                data: data,
                dataType: "json",
                success: function(res) {
                    if(res.code == 1) {
                        location.reload();
                    } else {
                        alert(res.msg);
                    }
                },
                error: function(xhr,status,thrown) {
                    alert('Status:'+ xhr.status +'，'+ xhr.statusText +'，请稍后再试！');
                }
            });
        });
    </script>
{/block}