{extend name="public/base" /}

{block name="importFile"}
<link rel="stylesheet" href="__STATIC__/index/essay.css">
<link rel="stylesheet" href="__STATIC__/index/essay.css">
<link rel="stylesheet" href="/static/editormd/css/editormd.css" media="all">
<script type="text/javascript" src="/static/editormd/editormd.js"></script>
{/block}

{block name="main"}
<div class="forFlow">
    <div id="post_detail">
<div class="essay-detail">
    <div id="topics">
        <div class="post">
            <h1 class="postTitle">{$data.title}</h1>
            <div class="clear"></div>
            <div class="postBody">
                <div id="cnblogs_post_body" class="blogpost-body cnblogs-markdown">
                    {$data.content|raw}
                </div>
                <div class="clear"></div>
                <div id="blog_post_info_block" role="contentinfo">
                    <div id="blog_post_info"></div>
                    <div class="clear"></div>
                    <div id="post_next_prev"></div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</div>
{/block}

{block name="script"}
<script>
    opts.postSignature = {
        enable: true,
            enableLicense: true,
            licenseName: '',
            licenseLink: '',
            content: ['三个最受欢迎主题可选', '三个最受欢迎主题可选'],
    };
</script>
{/block}