{extend name="public/base" /}
{block name="main"}
<div class="forFlow">

    <div class="topicListFooter">
        <!--<div id="nav_next_page">-->
        <div style="text-align: center;">
            {$list|raw}
        </div>
        <style>
            .pagination {
                display: inline-block;
                padding-left: 0;
                margin: 20px 0;
                border-radius: 4px;
            }

            .pagination > li {
                display: inline;
            }

            .pagination > li:first-child > a, .pagination > li:first-child > span {
                margin-left: 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            .pagination > li > a, .pagination > li > span {
                position: relative;
                float: left;
                padding: 6px 12px;
                margin-left: -1px;
                line-height: 1.42857143;
                color: #337ab7;
                text-decoration: none;
                background-color: #fff;
                border: 1px solid #ddd;
            }

            .pagination > li > a:hover {
                background-color: rgba(0, 0, 0, 0.08);
            }

            .pagination .active span {
                background-color: #337ab7;
                color: #FFF;
            }

            #nav_next_page a {
            }
        </style>
    </div>

    {foreach $list as $item}
    <div class="day" role="article" aria-describedby="{$item.id}">
        <div class="postTitle" role="heading">
            <a class="postTitle2 vertical-middle" href="/index/index/details?id={$item.id}">
                <span>{$item.title}</span>
            </a>
        </div>
        <div class="postCon">
            <div class="c_b_p_desc" id="{$item.id}">
                摘要：{$item.describe}
                <a href="/index/index/details?id={$item.id}" class="c_b_p_desc_readmore">阅读全文</a>
            </div>
        </div>
        <div class="clear"></div>

        <div class="postDesc">
            posted @ 2021-10-04 20:30 linxiaohei
            <span data-post-id="{$item.id}" class="post-view-count"></span>
            <span data-post-id="{$item.id}" class="post-comment-count"></span>
            <span data-post-id="{$item.id}" class="post-digg-count"></span>
            <a href="#" rel="nofollow">编辑</a>
        </div>
        <div class="clear"></div>
    </div>
    {/foreach}

    <script>
        updatePostStats(
            $(".post-view-count").map(function () {
                return this.dataset.postId
            }).get(),
            function (id, count) {
                $(".post-view-count[data-post-id=" + id + "]").text("阅读(" + count + ")")
            },
            function (id, count) {
                $(".post-comment-count[data-post-id=" + id + "]").text("评论(" + count + ")")
            },
            function (id, count) {
                $(".post-digg-count[data-post-id=" + id + "]").text("推荐(" + count + ")")
            }
        );
    </script>
</div>
{/block}