{extend name="public/base" /}
{block name="main"}
<div class="essay-list">
    <div class="essay-list-item">
        {foreach $list as $item}
        <div class="item-card">
            <a href="/index/index/details?id={$item.id}" style="text-decoration: none"><div class="item-card-title">{$item.title}</div></a>
            <div class="item-card-desc">
                <p class="i_c_d_p" style="">
                    {$item.describe}
                </p>
            </div>
            <div class="item-card-actions">
                <div><i class="fa fa-eye"></i>{$item.browse}</div>
                <div><i class="fa fa-commenting-o"></i>{$item.comment}</div>
                <div><i class="fa fa-thumbs-o-up"></i>{$item.praise}</div>
                <a href="/index/index/details?id={$item.id}"><button>阅读</button></a>
            </div>
        </div>
        {/foreach}
    </div>
    <div class="essay-list-page">
        {$list|raw}
    </div>
</div>
{/block}

{block name="left-side"}{/block}

{block name="sideBar"}{/block}