<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="__LAYUI__/css/layui.css">
    <script type="text/javascript" src="__LAYUI__/layui.js"></script>
    <style>
        *{margin: 0;padding: 0}
        .block{width: 400px;height: 400px;margin: 200px auto}
    </style>
</head>
<body>
    <div class="block">
        <form class="layui-form" style="padding: 20px;border: 1px solid deepskyblue" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input type="text" name="username" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-block">
                    <input type="password" name="password" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="login">登录</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        layui.use(['form'], function(){
            var form = layui.form;

            form.on('submit(login)', function(data){
                $.ajax({
                    'url': '/index/login/login',
                    'type': 'POST',
                    'data': data.field,
                    'dataType': 'json',
                    'async': false,
                    success: function (res) {
                        console.log(res);
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown){
                        //通常情况下textStatus和errorThrown只有其中一个包含信息
                    }
                });
            });
        });
    </script>
</body>
</html>