{include file="public/head"}
<style>
    .layui-table-cell {
        height: auto !important;
        max-height: 100px;
    }
</style>
    <div class="layui-fluid ">
        <div class="layui-card">
            <form class="layui-form layui-card-header layuiadmin-card-header-auto my-layui-form">
                <div class="layui-inline layui-btn-group">
                    <!--<button type="button" class="layui-btn layui-btn-sm" lay-submit lay-filter="filter-search"> 筛 选 </button>-->
                    <button type="button" class="layui-btn layui-btn-sm layui-btn-normal add">添加</button>
                </div>
            </form>
            <div class="layui-card-body">
                <table class="layui-table" id="my-table" lay-filter="filter-table"></table>

                <script type="text/html" id="my-operate">
                    <div class="layui-btn-group">
                        <button type="button" class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">编辑</button>
                        {{# if(d.status == 0){ }}
                        <button type="button" class="layui-btn layui-btn-xs layui-btn" lay-event="publish">发布</button>
                        <button type="button" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</button>
                        {{# } else { }}
                        <button type="button" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</button>
                        {{# } }}
                        <button type="button" class="layui-btn layui-btn-xs layui-btn-primary" lay-event="preview">预览</button>
                    </div>
                </script>
            </div>
        </div>
    </div>

    <script>

        layui.use(['table','form','util'], function() {
            var table = layui.table,
                form = layui.form,
                util = layui.util;

            table.render({
                elem: "#my-table"
                , size: 'sm'
                // ,height: 312
                // ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，
                , url: "/admin/article/listJson" //数据接口
                , cols: [[ //表头
                    {field: 'title', title: '标题', width: 360}
                    , {field: 'author', title: '作者', width: 80}
                    , {field: 'describe', title: '简述', width: 200}
                    // , {field: 'content', title: '内容', width: 500}
                    , {field: 'atime', title: '时间', width: 150}
                    , {field: 'opt', title: '操作', width: 200, align: 'center', toolbar: '#my-operate'}
                ]]
                , page: {
                    layout: ['prev', 'page', 'next', 'skip', 'count']
                    , limit: 15
                }
                , parseData: function (res) {
                    // console.log(res.list);
                    var list = res.list
                    for (var i = 0; i < list.length; i++) {
                        list[i].atime = formatDateTime(list[i].atime)
                    }
                    return {
                        "code": 0,
                        'msg': "获取数据成功！",
                        "count": res.total,
                        "data": res.list
                    }
                }
            });

            //监听搜索
            form.on('submit(filter-search)', function (data) {
                var field = data.field;
                //执行重载
                table.reload('my-table', {
                    where: field,
                    page: {
                        curr: 1,
                    }
                });
            });

            //监听工具条
            table.on('tool(filter-table)', function (obj) {
                var data = obj.data;
                tool[obj.event](data);
            });

            //文章发表
            $('.add').click(function () {
                tool.edit(this);
            });

            var tool = {
                //文章编辑
                edit: function (data) {
                    var api = "/admin/article/add?id=" + data.id;
                    var txt = '编辑文章';

                    var index = layui.layer.open({
                        title: txt,
                        type: 2,
                        area: ["100%", "100%"],
                        content: api
                    })

                    layui.layer.full(index);
                    $(window).on("resize", function () {
                        layui.layer.full(index);
                    })
                },
                //文章发布
                publish: function (data) {
                    layer.confirm('确定发布此文章吗？', function (index) {
                        $.post('/admin/article/updateStatus', {id: data.id, opt: 0}, function (re) {
                            // layer.close(index);
                            layer.open({
                                type: 1,
                                title: false,
                                closeBtn: 0,
                                shadeClose: true,
                                content: '<p style="margin:15px 30px;">' + re.msg + '</p>',
                                time: 1000,
                                end: function () {
                                    location.reload();
                                }
                            });
                        }, 'json');
                    });
                },
                //文章删除
                del: function (data) {
                    layer.confirm('确定删除此文章吗？', function (index) {
                        $.post('/admin/article/updateStatus', {id: data.id, opt: 1}, function (re) {
                            // layer.close(index);
                            layer.open({
                                type: 1,
                                title: false,
                                closeBtn: 0,
                                shadeClose: true,
                                content: '<p style="margin:15px 30px;">' + re.msg + '</p>',
                                time: 1000,
                                end: function () {
                                    location.reload();
                                }
                            });
                        }, 'json');
                    });
                },
                //文章预览
                preview: function (data) {
                    var url = "/admin/article/details?id="+data.id
                    window.open(url);
                }
            };
        });
    </script>
{include file="public/foot"}